* {
    box-sizing: border-box;
  }

#header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}
header a {
    text-decoration: none;
    color: purple;
    font-size: 20px;
    display: inline;
    font-weight: bold;
}
#header-wrapper p {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-wrapper {
    width: 50%;
}

.question-wrapper h2 {
    font-size: 32px;
    text-align: center;
    min-height: 100px;
}
.question-wrapper p {
    text-align: center;
    font-size: 20px;
}

#startBtn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    outline: none;
    border: none;
    font-size: 20px;
    padding: 10px 30px;
    background: rgb(83, 21, 125);
    color: white;
    border-radius: 12px;
    display: block;
    margin: 0 5px;
    /*width: 50%;*/
    width: fit-content;
}

.btn:hover {
    background: rgb(191, 29, 209);
}

#choice-ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 300px;

}

.choice {
    font-size: 20px;
    padding: 10px 30px;
    background: rgb(83, 21, 125);
    color: white;
    border-radius: 12px;
    display: block;
    margin: 7px 0;
    /*width: 100%;*/
}

.choice:hover {
    background: rgb(191, 29, 209);
}

#feedback-message {
    font-size: 32px;
    color: gray;
}

#initials-form-wrapper {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#initials-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#initials-label {
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px 0 0;
}

#initials {
    font-size: 20px;
}

#scores-title {
    font-size: 48px;
    text-align: center;
}

#score-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-scores-msg {
    font-size: 32px;

}

#button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#score-ol {
    padding: 0;
    width: 50%;
    background: lightgray;
    list-style-position: inside;
}

.score-li {
    font-size: 20px;
    background: lightgray;
    padding: 10px 10px;
}